<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
<script src="app.js"></script>
</head>
<body>
	<h1>Calculator</h1>
	<div ng-app = "myApp" ng-controller = "myController">
	<input type="text" placeholder = "Enter number here"ng-model="numberbox1">
	<span>*</span>
	<input type="text" placeholder = "Enter number here"ng-model="numberbox2">
	<br>
    <p>{{numberbox1}} * {{numberbox2}} =  
    <span ng-bind = "numberbox1*numberbox2"></span> </p>
	</div>
</body>
</html>